.cardItemList{
    width: max-content;
    height: max-content;
    display: flex;
    margin: 20px 0;
    gap: 1rem;
    padding: 1rem;
    background: linear-gradient(125deg ,lightcoral ,lightblue);
    border-radius: 10px; 
}
